/* Dimensions */
.wrapper { width: 95%; margin: 0 2.5%; position: relative; *zoom: 1; }
.wrapper:after, .wrapper:before { content: ""; display: table; }
.wrapper:after { clear: both; }

#header, #bottom-footer { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }

#content { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
#content.full { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }

aside.sidebar, .prj_info { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }

.w-sidebar #content { margin-left: 4.16667%; margin-right: 4.16667%; }

#content.archive-page { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }

.page .post.stream, .blog .post.stream, .archive .post.stream, .search .post.stream { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }

.portfolio.four .item { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
.portfolio.three .item { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
.portfolio.two .item { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }

#content.portfolio { width: 100%; }

.single-works .pageheader { width: 80%; margin-left: 10%; margin-right: 10%; position: relative; }
.single-works .related .list .item { width: 50%; float: left; display: inline; position: relative; padding-right: 40px; }
.single-works .related .list .item .item-thumb { margin-bottom: 20px; }

#page-footer .col.full-width { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
#page-footer .col.one-half { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
#page-footer .col.one-third { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
#page-footer .col.two-thirds { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
#page-footer .col.one-fourth { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
#page-footer .col.two-fourth { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
#page-footer .col.three-fourths { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }

#content.full-stream { width: 100%; margin-left: 0; margin-right: 0; }

#stream-container { width: 100%; }

#slide-nav { width: 66.66667%; margin: 0 auto; }

.page-template-template-photogallery-php #content.photogallery { width: 100%; margin-left: 0; margin-right: 0; }
.page-template-template-photogallery-php.masonry_2col .thb-photogallery-container li { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
.page-template-template-photogallery-php.masonry_3col .thb-photogallery-container li { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }
.page-template-template-photogallery-php.masonry_4col .thb-photogallery-container li { width: 91.66667%; margin-left: 4.16667%; margin-right: 4.16667%; float: left; display: inline; position: relative; }

/* Header */
#header { margin-bottom: 40px; }

#logo { display: block; text-align: center; }

/* Sidebar */
aside.sidebar, .prj_info { margin-top: 40px; }

/* Comments style */
#reply-title span { display: inline-block; }

/* Respond form ----------------------------------------------------- */
#respond { clear: both; *zoom: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; clear: both; float: left; position: relative; display: inline; }
#respond:after, #respond:before { content: ""; display: table; }
#respond:after { clear: both; }
#respond #commentform { clear: both; }

#comments { clear: both; width: 100%; *zoom: 1; float: left; /* General -------------------------------------------------------------- */ /* Nested comments ------------------------------------------------------ */ }
#comments:after, #comments:before { content: ""; display: table; }
#comments:after { clear: both; }
#comments .comments-container { width: 100%; display: inline-block; }
#comments li { clear: both; /* Comment left column ---------------------------------------------- */ /* Comment right column --------------------------------------------- */ }
#comments li.thb-comment { display: block; width: 100%; float: left; }
#comments li .comment { clear: both; float: left; position: relative; display: inline; width: 100%; }
#comments li .comment_leftcol { float: left; width: 14.54545%; margin-right: 4.54545%; }
#comments li .comment_leftcol a { display: block; }
#comments li .comment_leftcol img { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; width: 100%; margin: 0 auto; height: auto; max-width: 64px; max-height: 64px; }
#comments li .comment_rightcol { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 80.90909%; display: block; float: left; }
#comments li .comment_rightcol .comment_head { float: left; width: 100%; }
#comments li .comment_rightcol .comment_body { float: left; width: 100%; }
#comments ul { clear: both; }
#comments ul .comment_leftcol { margin-left: 19.09091%; }
#comments ul .comment_rightcol { width: 61.81818%; }
#comments ul ul { clear: both; }
#comments ul ul .comment_leftcol { margin-left: 38.18182%; }
#comments ul ul .comment_rightcol { width: 42.72727%; }

#comments ul .comment_leftcol { margin-left: 0; }
#comments ul .comment_rightcol { width: 80.90909%; }
#comments ul ul .comment_leftcol { margin-left: 0; }
#comments ul ul .comment_rightcol { width: 80.90909%; }
#comments ul.children li.thb-comment .comment_leftcol:after { display: none; }

/* Shortcodes */
.col { margin-bottom: 40px; }
.col:last-of-type { margin-bottom: 0; }

/* Mobile nav */
#main-nav { display: none; }

#page { position: relative; left: 0; z-index: 9999; }
#page.open { -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8); box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8); }

#mobile-nav-trigger { cursor: pointer; font-family: "icons"; display: block; position: absolute; color: #000; padding: 8px 10px 7px; text-align: center; line-height: 24px; width: 18px; font-size: 18px; left: 0; top: 0; background-color: #fff; -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); z-index: 100; }
#mobile-nav-trigger.open { background-color: #ff4000; color: #fff; }

#page-wrapper { position: relative; overflow-x: hidden; }

#mobile-nav { position: fixed; overflow-y: scroll; top: 0; left: 0; bottom: 0; width: 90%; z-index: 0; background-color: #333; display: block; opacity: 0; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }
#mobile-nav .menu { text-transform: uppercase; font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 12px; line-height: 1; font-weight: bold; }
#mobile-nav .menu li { margin: 0; display: block; float: none; }
#mobile-nav .menu li a { color: #fff; padding: 10px 15px; display: block; position: relative; border-bottom: 1px solid #262626; -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.08); box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.08); }
#mobile-nav .menu li a:hover { background-color: #000; color: #fff; }
#mobile-nav .menu li .sub-menu a { padding-left: 30px; }
#mobile-nav .menu li .sub-menu .sub-menu a { padding-left: 45px; }
#mobile-nav .menu li .sub-menu .sub-menu .sub-menu a { padding-left: 60px; }
