/* Layout */
.wrapper { position: relative; width: 744px; margin: 0 auto; *zoom: 1; }
.wrapper:after, .wrapper:before { content: ""; display: table; }
.wrapper:after { clear: both; }

#header, #bottom-footer { width: 724px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }

#content { width: 476px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; margin-left: 134px; margin-right: 134px; }
#content.full { width: 724px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; margin-left: 10px; margin-right: 10px; }

aside.sidebar, .prj_info { width: 166px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }

.w-sidebar #content { margin-left: 10px; margin-right: 10px; }

#content.archive-page { width: 724px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }

.page .post.stream, .blog .post.stream, .archive .post.stream, .search .post.stream { width: 228px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }

.portfolio.four .item { width: 166px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }
.portfolio.three .item { width: 228px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }
.portfolio.two .item { width: 352px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }

#content.portfolio { width: 744px; }
#content.portfolio .extra-bottom { padding-left: 10px; padding-right: 10px; }

.single-works .pageheader { width: 600px; margin-left: 72px; margin-right: 72px; position: relative; }
.single-works .related .list .item { width: 124px; float: left; display: inline; position: relative; padding-right: 20px; }
.single-works .related .list .item .item-thumb { margin-bottom: 10px; }

#page-footer .col.full-width { width: 724px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }
#page-footer .col.one-half { width: 352px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }
#page-footer .col.one-third { width: 228px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }
#page-footer .col.two-thirds { width: 476px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }
#page-footer .col.one-fourth { width: 166px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }
#page-footer .col.two-fourth { width: 352px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }
#page-footer .col.three-fourths { width: 538px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }

#content.full-stream { width: 744px; margin-left: 0; margin-right: 0; }
#content.full-stream .extra-bottom { padding-left: 10px; padding-right: 10px; }

#stream-container { width: 744px; }

#slide-nav { width: 538px; margin: 0 auto; }

.page-template-template-photogallery-php #content.photogallery { width: 744px; margin-left: 0; margin-right: 0; }
.page-template-template-photogallery-php.masonry_2col .thb-photogallery-container li { width: 352px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }
.page-template-template-photogallery-php.masonry_3col .thb-photogallery-container li { width: 228px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }
.page-template-template-photogallery-php.masonry_4col .thb-photogallery-container li { width: 166px; margin-left: 10px; margin-right: 10px; float: left; display: inline; position: relative; }

/* Header */
#header { margin-bottom: 60px; }
